@model EF.DanhMucVatTu
@using VAS_UI.Logic_Functions;
@using EF;

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Danh mục vật tư</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item">Quản lí kho</li>
            <li class="breadcrumb-item">Danh mục vật tư</li>
            <li class="breadcrumb-item active">Tạo mới</li>
        </ol>
    </div>
    <div class="card mb-4 m-4">
        <div class="card-header">
            <i class="fa-solid fa-circle-info me-1"></i>
            Thông tin vật tư
        </div>
        <div class="card-body">
            @using (Html.BeginForm("Create", "DanhMucVatTu", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.Partial("_Form")
            }
        </div>
    </div>
</main>
