@model EF.DanhMucVatTu

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Danh mục vật tư</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item">Quản lí kho</li>
            <li class="breadcrumb-item">Danh mục vật tư</li>
            <li class="breadcrumb-item">@Html.DisplayFor(model => model.Ten_vat_tu)</li>
            <li class="breadcrumb-item active">Xóa</li>
        </ol>
    </div>
    <h3 class="mb-4 m-4 text-danger">Dữ liệu này sẽ bị xóa, hãy xác nhận?</h3>
    @Html.Partial("_DetailDeleteForm")
</main>
