@model EF.DanhMucVatTu

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Danh mục vật tư</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item">Quản lí kho</li>
            <li class="breadcrumb-item">Danh mục vật tư</li>
            <li class="breadcrumb-item">@Html.DisplayFor(model => model.Ten_vat_tu)</li>
            <li class="breadcrumb-item active">Chi tiết</li>
        </ol>
    </div>
    @Html.Partial("_DetailDeleteForm")
</main>
